*.log
src/sim/
*.bit
*.prj
*.rbf
*.tcl
*.area
*.db
*.f
*.cwc
*.rpt
*.tsm
*.al
*.back
*.bid
*.timing
*.png
al_ip/lpm_unsigned_mult10x18_sim.v
al_ip/lpm_unsigned_mult8x32_sim.v
al_ip/pll_5times_sim.v
al_ip/SYS_PLL_sim.v
*.cfg
*.ipc
archive.zip
